:root {
  --text-main-dark: #212121;
  --main-light: #FFFFFF;
  --text-sub: #757575;
  --text-accent: #2196F3;
  --text-accent-transparent: rgba(255, 255, 255, 0.6);
  --background-dark: #2F303A;
  --background-light: #F5F4FA;
  --header-border: #ECECEC;
} 

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-main-dark);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding-left: 0px;
}

address p {
  margin: 20px 0 0 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  border: 1px solid red;
  margin: 0 auto;
}

/*
a {
  text-decoration: none;  
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}
*/

/* HEADER */

.head-section {
  background-color: var(--main-light); 
  color: var(--text-main-dark);  
  display: flex;
  border: 1px solid var(--header-border);
  margin: 0;
}

.header-flex, .header-nav-list, .header-menu-list, .header-contacts-list {
 display: flex;
 list-style-type: none;
 align-items: center;
 /*margin-left: 0px;*/
 /*padding-left: 0px;*/
}



.header-flex {
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}


.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  outline: none;
  color: var(--text-main-dark);
  margin-right: 93px;
}

.logo-accent {
  color: var(--text-accent);
}

.link {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  outline: none; 
  color: var(--text-main-dark);
}

.link:visited {
  color: var(--text-main-dark);
}

.link:hover {
  color: var(--text-accent);
}

.link:focus {
  color: var(--text-accent);
}

.link.current {
  color: var(--text-accent);
}

.header-menu-list :not(:last-child) {
  margin-right: 50px;
}
/*
.header-menu-list :last-child {
  margin-right: 331px;
}*/

.header-contacts-list :not(:last-child) {
margin-right: 50px;
}

.head-contacts{
  color: var(--text-sub);
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  outline: none;
}

.head-contacts:visited {
  color: var(--text-sub);
}

.head-contacts:hover {
  color: var(--text-accent);
}

.head-contacts:focus {
  color: var(--text-accent);
}  


/* FOOTER */


.footer-section {
  background-color: var(--background-dark);
  color: var(--main-light);
  line-height: 24px;
  letter-spacing: 0.03em;
  display: flex;
  margin-top: 94px;
}

.footer-logo {
  color: var(--main-light);
}

.container.footer {
  margin: 60px auto;
}
/*
.footer-contacts-list {
  margin: 0 0 9px 0;
}
*//*
.footer-contacts-list :last-child{
  margin: 0 0 0 60;
}*/

.footer-contacts-list {
  margin: 0;
}

.footer-contacts-list li {
  margin-top: 9px;
}

.footer-contacts {
  color: var(--text-accent-transparent);
  outline: none;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.footer-contacts:visited {
  color: var(--text-accent-transparent);
}

.footer-contacts:hover {
  color: var(--text-accent);
}

.footer-contacts:focus {
  color: var(--text-accent);
}

/* MAIN (index.html)*/

/* MAIN - TITLE */

.title-section {
  background-color: var(--background-dark);
 /* display: flex;
  flex-direction: column;*/
  text-align: center;
}

.title {
  color: var(--main-light);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 200px;
 /* margin: 200px auto auto 280; */
}

.title-button {
  background-color: var(--text-accent);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

 /* align-items: center;*/
 /* text-align: center;*/
  color: var(--main-light);
  outline-color: var(--text-accent);
  padding: 10px 32px;
  margin-bottom: 200px; 
  border-color: var(--text-accent);
  border-radius: 4px;
}

/* MAIN - FEATURES*/

.decision-list {
display: flex;
align-items: center;
/*justify-content: space-between;*/
margin-top: 94px;
margin-bottom: 0px;
}

.decision-list li {
  width: 270px;
  height: 75;
}

.decision-list :not(:last-child) {
  margin-right: 30px;
}

.decision-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.decision-item-text {
  color: var(--text-sub);
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 0px;

}

/* MAIN - SIBTITLES*/

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center; 
  letter-spacing: 0.03em;
  margin-top: 94px;
  margin-bottom: 50px;
}

.we-do-ul {
  display: flex;
  margin-top: 0px;
  margin-bottom: 94px;
}



.we-do-ul :not(:first-child) {
  margin-left: 30px;
}

/* MAIN - OUR TEAM*/

.team-section {
  background-color: var(--background-light);
}

.team-section-ul {
  display: flex;
 /* justify-content: space-between;*/
  align-items: center;
  margin-top: 0px;
  margin-right: 0px;
  padding: 0px;
  margin-bottom: 94px;
padding: 0px;

 }

.team-section-ul :not(:last-child){
  padding: 0px;

}

.team-section-ul :last-child {
 margin-right: 0px;
}


.team-section-li {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-right: 30px;
  padding: 0px;  
  background-color: var(--main-light); 
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-section-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 0px;
  margin: 30px 0px 10px 0px;   
}

.team-section-position {
  color: var(--text-sub); 
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 0px;
  margin: 0 0 30px 0; 
}

/*  PORTFOLIO  */

.project-filter-ul {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 94px auto 20px;
}

.project-filter-ul :not(:last-child){
  margin-right: 8px;
}
.project-filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center; 
  letter-spacing: 0.03em;
  background-color: var(--background-light);
  padding: 6px 22px;
  border-color: var(--background-light);
  border-radius: 4px;
}

.project-filter-button:focus {
  color: var(--main-light);
  background-color: var(--text-accent);
  outline: none;
}

.project-filter-button:hover {
  color: var(--main-light);
  background-color: var(--text-accent);
  outline: none;
}

.project-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.project-ul li {
  width: 370px;
  margin-top: 30px;
}


.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px; 
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 4px;
}

.project-type {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--text-sub);
  margin-top: 0;
  margin-bottom: 20px;
}
